extends layout

block content
  .container-wrap
    .btn-group#toggleButtons(data-toggle='buttons')
        //input#option(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-success(value="0") IMPORTÁLÁS

        //input#cropRadio(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-primary(value="1") VÁGÁS
        
        //input#filters(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-warning(value="2") SZŰRŐK
      
        //input#flips(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-info(value="3") FORGATÁS
      
        //input#option2(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-danger(value="4") SZÍNKEZELÉS
      
        //input#option3(type='radio' name='optionRadio' autocomplete='off')
        button.radioBtn.btn.btn-success(value="5") MENTÉS
    .flex-container 
      .canvas-wrapper
        canvas#canvas
        img#cropImg
      .editor
      
        .switch-container.filters#filtersId
          .filter
            label(for='brightness') Kontraszt
            input#contrast(type="range" min='0' max='200' value='100')
          .filter
            label(for='blur') Homályosítás
            input#blur(type='range'  min='0' max='5' value='0' step='0.1')
          .filter
            label(for='brightness') Fényerősség
            input#brightness(type='range' min='0' max='200' value='100')
          .filter
            label(for='grayscale') Szürkeárnyalat
            input#grayscale(type='range' min='0' max='100' value='0')
          .filter
            label(for='inversion') Inverz
            input#inversion(type='range' min='0' max='100' value='0')
          .filter
            label(for='saturation') Telítettség
            input#saturation(type='range' min='0' max='500' value='0')
          .filter
            label(for='opacity') Átlátszóság
            input#opacity(type='range' min='0' max='100' value='100')
          .filter
            label(for='sepia') Szépia
            input#sepia(type='range' min='0' max='100' value='0')
        .switch-container.flip-buttons#flipps
          .flip-option 
            input#no-flip(type='radio' name='flip' checked='')
            label(for='no-flip') Nincs forgatás
          .flip-option
            input#flip-x(type='radio' name='flip')
            label(for='flip-x') Horizontális forgatás
          .flip-option
            input#flip-y(type='radio' name='flip')
            label(for='flip-y') Vertikális forgatás
        // Shadow
        .switch-container.colors
          label(for='arnyek') Árnyék
          label(for='arnyek') Szín
          input#coloris(type='text' data-coloris='')
          .arnyekok
          input#arnyek(type='range' min='-100' max='100' value='0')
          input#arnyek1(type='range' min='-100' max='100' value='0')
          input#arnyek2(type='range' min='0' max='100' value='13')
        .switch-container
          button#cropBtn(href='#' type='button' value="BTN") VÁGÁS

        .result
        img#output
      
        .switch-container
          input#save(type='submit',value='Save')
          button#download(href='#' type='file' download='' hidden)
          label(for='download') Letöltés

    .upload-img
      form(method='POST' action='/' enctype="multipart/form-data")
        #form-group
          input#imageFileInput(type='file' accept='Image/*' name='image' required)
          label(for='imageFileInput') Válassz egy képet

    input#probaBtn(value='proba' type='button')
    input#input(type='text' value='')

    