extends layout

block content
  h1 Regisztráció
  form(method='POST', action='/users/register')
    #form-group
      label Teljes név:
      input.form-control(name='name', type='text')
    #form-group
      label Email:
      input.form-control(name='email', type='text')
    #form-group
      label Felhasználónév:
      input.form-control(name='username',type='text')
    #form-group
      label Jelszó:
      input.form-control(name='password',type='password')
    #form-group
      label Jelszó ismét:
      input.form-control(name='password2',type='password')
    br
    input.btn.btn-primary(type='submit',value='Regisztráció')
